.tagsSection {
    padding: 10px 0;
}

.tags {
    height: 25px;
    background-color: var(--main);
    color: var(--white);
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 40px;
    margin: 0 10px 0 0;
}