article {
    width: 340px;
    height: 340px;
    position: relative;
    display: flex;
    
}

article img {
    object-fit: cover;
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

article h2 {
    position: absolute;
    left: 5.88%;
    right: 5.88%;
    top: 78.82%;
    bottom: 5.88%;
    font-size: 18px;
    line-height: 142.6%;
    color: var(--white);
}

article div {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
}