@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
h4, h5, h6 {
    color: var(--main);
    margin: 0;
}

h4 {
    font-size: 36px;
}

h5 {
    padding-left: 200px;
    padding-right: 15px;
    text-align: right;
}

h5, h6 {
    font-size: 18px;
    font-weight: 100;
}

h6 {
    
    padding-right: 10px;
    
    margin: 10px 0;
}

.accomodationDropdowns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

.accomodationDetails {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 50px 0 0 0;
}

.hostCard {
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: column;
    padding-bottom: 25px;
}

.accomodationDetails img {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 50%;
}

.tagsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
}

.hostId {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 25px;
}

.stars {
    font-family: "Font Awesome 6 Free";
    color: var(--main);
    text-align: right;
    font-size: 24px;
    letter-spacing: 10px;
}
.stars::before {
    font-weight: bold;
}

.oneStar::before{
    content:"\f005";
}
.oneStar::after{
    content:"\f005\f005\f005\f005";
    color: var(--grey);
    font-weight: bold;
}


.twoStars::before{
    content:"\f005\f005";
}
.twoStars::after{
    content:"\f005\f005\f005";
    color: var(--grey);
    font-weight: bold;
}

.threeStars::before{
    content:"\f005\f005\f005";
}
.threeStars::after{
    content:"\f005\f005";
    color: var(--grey);
    font-weight: bold;
}

.fourStars::before{
    content:"\f005\f005\f005\f005";
}
.fourStars::after{
    content:"\f005";
    color: var(--grey);
    font-weight: bold;
}

.fiveStars::before{
    content:"\f005\f005\f005\f005\f005";
}
.fiveStars::after{
    content:"";
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media screen and (max-width:430px) {
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 12px;
        padding-left: 100px;
    }
    h6 {
        font-size: 14px;
        margin: 5px 0;
    }
    .accomodationDetails {
        grid-template-columns: 1fr;
        margin: 20px 0 0 0;
    }
    .stars {
        font-size: 15px;
        text-align: left;
        order: 1;
    }
    .hostId {
        order: 2;
        margin: 0;
    }
    .hostCard {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .accomodationDetails img {
        height: 32px;
        width: 32px;
        object-fit: cover;
        border-radius: 50%;
    }
    .accomodationDropdowns {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
  }